[submodule "wp-bootstrap-navwalker"]
	path = wp-bootstrap-navwalker
	url = https://github.com/wp-bootstrap/wp-bootstrap-navwalker.git
[submodule "assets/bootstrap"]
	path = assets/bootstrap
	url = https://github.com/pl33/bootstrap-compiled.git
[submodule "assets/open-iconic"]
	path = assets/open-iconic
	url = https://github.com/iconic/open-iconic.git
